.no {
    /* margin-left: 705px; */
    margin-top: 200px;
    font-size: 30px;
    text-align: center;
}

.book-link {
    margin-left: 725px;
    margin-top: 50px;
    font-size: 20px;
    background-color: #5f02d8e1;
    color: white;
    padding: 15px 25px;
    position: relative;
}

mat-card-content, mat-card-actions {
    text-align: center;
}

img {
    width: 10px;
    height: auto;
}

.book-link {
    background-color: #5f02d8e1;
    color: white;
    padding: 15px 25px;
    margin-left: 100px;
    position: relative;
    margin-top: 10px;
}