input, textarea {
    text-align: center;
    margin-left: 650px;
    margin-top: 5px;
    width: 200px;
    height: 30px;
}

button {
    margin-left: 710px;
    margin-top: 150px;
}

.create-btn {
    background-color: #5f02d8e1;
    color: white;
    padding: 15px 25px;
    margin-left: 690px;
    margin-top: 50px;
    position: relative;
}

div.error {
    position: static;
    width: 400px;
    min-width: 350px;
    margin-top: 20px;
    margin-left: 550px;
    display: block;
    z-index: 11111;
}

div.error p {
    background: rgba(204, 55, 55, 0.726);
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}

.label {
    text-align: center;
    margin-top: 50px;
}